# Suppress attempts to mail output. We'll check syslog.
MAILTO=""
PYTHON=/root/bot/env/bin/python

# Test the Radar and Payday.
*/5    *    *    *    *    $PYTHON rotate-radar.py 2>&1 | logger -t ROTATE-RADAR
*/5    *    *    *    *    $PYTHON kick-off-payday.py 2>&1 | logger -t KICK-OFF-PAYDAY

# Rotate the Radar every Sunday.
0    5    *    *    0    $PYTHON rotate-radar.py 2>&1 | logger -t ROTATE-RADAR
 
# Kick off Payday every Thursday.
0    5    *    *    4    $PYTHON kick-off-payday.py 2>&1 | logger -t KICK-OFF-PAYDAY
 
# Poll for updates every minute.
*    *    *    *    *    /root/bot/update.sh 2>&1 | logger -t UPDATE-BOT

#    ┬    ┬    ┬    ┬
#    │    │    │    │
#    │    │    │    └─ day of week (0 - 6) (0 is Sunday, or use names)
#    │    │    └─────── month (1 - 12)
#    │    └───────────── day of month (1 - 31)
#    └─────────────────── hour (0 - 23)
#───────────────────────── min (0 - 59)
